<%= render "layouts/navbar"%> 
<div id = "about_us" >
  <h3>درباره‌ی ما :</h3>
  <p style="font-size:1.4em ;" >بسته‌ی ارزیابی شناختی تحت شبکه (وی‌کاپ) با همکاری مرکز ملی مطالعات اعتیاد و گروه هوش ماشین و رباتیک دانشگاه تهران تدوین گردیده‌است.
  </p>
  <p style="font-size:1.4em ;">این بسته حاصل همکاری گروه هوش ماشین و رباتیک دانشگاه تهران به مدیریت جناب آقای دکتر مرادی، و مرکز ملی مطالعات اعتیاد به مدیریت جناب آقای دکتر حامد اختیاری است و توسط آقای علی مهدویان و خانم مریم یونسی توسعه یافته است.</p>
</div>
<center>
<%=image_tag "66.jpg", {:class => "img"}%>
</center>
<div id="test_desc">
  <h3>توضیحات آزمون‌ها :</h3>
  <ul style="font-size:1.4em ;" >
  <li> Delay Discounting Test : description . . .  </li>
  <li> Balloon Analogue Risk Task : description . . .  </li>
  <li> Cued Go No Go : description . . . </li>
  </ul>
</div>

