<%= render "layouts/navbar"%> 
<div class = "wrap">
<h1>ویرایش اطلاعات آزمودنی</h1>
<%= render 'form' %>
<br>
<h2><%= link_to 'نمایش', @patient %> |
<%= link_to 'بازگشت', patients_path %></h2>
</div>
