<%= form_for(@bart) do |f| %>
  <% if @bart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bart.errors.count, "error") %> prohibited this bart from being saved:</h2>

      <ul>
      <% @bart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="actions">
    <%= f.submit %>
  </div>-->
  <div class="wrap">
    <h1>توضیح تست</h1><br>
    <h2>حال شما ۳۰ بادکنک را می‌بینید که یکی پس از دیگری روی صفحه ظاهر می‌شوند. برای هر یک از بادکنک‌ها دو دکمه در زیر آن وجود دارد که با یکی از آن‌ها بادکنک را کمی می‌توانید باد کنید. 
    </h2>
    <h2>فقط به خاطر داشته باشید که اگر بادکنک را بیش‌ از حد باد کنید، می‌ترکد. این که بخواهید چقدر آن را باد کنید بستگی به تصمیم شما دارد. بعضی از این بادکنک‌ها زودتر از بقیه می‌ترکند. ولی برخی ممکن است تا زمانی که کل صفحه را نگرفته‌اند، نترکند.
    </h2>
    <h2>به ازای هر بار باد‌کردن بادکنک پول دریافت می‌کنید. ولی اگر یک بادکنک بترکد، شما کل پولی که از آن بادکنک به‌دست آورده بودید را از دست می‌دهید. برای این‌که پول حاصل از یک بادکنک را ذخیره کنید می‌توانید از دکمه‌ی <b>برداشت</b> استفاده کنید
    </h2>
    <h2>با زدن روی دکمه‌ی <b>بادکنک بعدی</b> بادکنک بعدی ظاهر می‌شود  
    </h2>
    <h2>
      با زدن دکمه‌ی شروع تست، تست آغاز خواهد شد.
    </h2>
    <input type="submit" value="شروع تست" name="commit" id="submit_gonogo">
          </input><br>
  </div>
<% end %>
